* {
    padding: 0;
    margin: 0;
}

html > body {
    width: 100vw;
    height: 100vh;
}

:root{
    --bg-color: skyblue;
    --theme-color: blue;
}

h1, h2, h3, h4, h4 { text-align: center; }

body > header{ height: 10%; }
body > header{ background: var(--bg-color); }
body > main{   height: 85%; }
body > footer{ height: 5%; }
body > footer{ background: var(--bg-color); }

.centering { text-align: center; }
