main {
    display: flex;
    flex-direction: column;
}

#editor {
    /* position: absolute; */
    inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */
    flex: 2;
}

#output-wrapper {
    height: 25%;
    margin: 3px;
}
#output{
    height: 100%;
    border: black solid 0.33pt;
    overflow: scroll;
}
